@model AspnetCoreMvcFull.Models.BranchDto
@{
  ViewData["Title"] = "User List - Pages";
}

@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
<link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
<link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css">
<link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
<link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.css" />
}

@section VendorScripts {
<script src="~/vendor/libs/moment/moment.js"></script>
<script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
<script src="~/vendor/libs/select2/select2.js"></script>
<script src="~/vendor/libs/&#64;form-validation/popular.js"></script>
<script src="~/vendor/libs/&#64;form-validation/bootstrap5.js"></script>
<script src="~/vendor/libs/&#64;form-validation/auto-focus.js"></script>
<script src="~/vendor/libs/cleavejs/cleave.js"></script>
<script src="~/vendor/libs/cleavejs/cleave-phone.js"></script>
}

@section PageScripts {
<script src="~/js/app-branches-list.js"></script>
}

@* ************** Content ************** *@
<div class="row g-6 mb-6">
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span class="text-heading">Branches</span>
                        <div class="d-flex align-items-center my-1">
                            <h4 class="mb-0 me-2">@ViewBag.Branches</h4>
                            @* <p class="text-success mb-0">(+29%)</p> *@
                        </div>
                        <small class="mb-0">Total Branches</small>
                    </div>
                    <div class="avatar">
                        <span class="avatar-initial rounded bg-label-primary">
                            <i class="bx bx-group bx-lg"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span class="text-heading">Suspended Branches</span>
                        <div class="d-flex align-items-center my-1">
                            <h4 class="mb-0 me-2">@ViewBag.Inactive</h4>
                            @* <p class="text-success mb-0">(+18%)</p> *@
                        </div>
                        <small class="mb-0">Overal analytics </small>
                    </div>
                    <div class="avatar">
                        <span class="avatar-initial rounded bg-label-danger">
                            <i class="bx bx-user-plus bx-lg"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span class="text-heading">Active Branches</span>
                        <div class="d-flex align-items-center my-1">
                            <h4 class="mb-0 me-2">@ViewBag.Active</h4>
                            @* <p class="text-danger mb-0">(-14%)</p> *@
                        </div>
                        <small class="mb-0">Overal analytics</small>
                    </div>
                    <div class="avatar">
                        <span class="avatar-initial rounded bg-label-success">
                            <i class="bx bx-user-check bx-lg"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span class="text-heading">Pending Branches</span>
                        <div class="d-flex align-items-center my-1">
                            <h4 class="mb-0 me-2">@ViewBag.Pending</h4>
                            @* <p class="text-success mb-0">(+42%)</p> *@
                        </div>
                        <small class="mb-0">Overal analytics</small>
                    </div>
                    <div class="avatar">
                        <span class="avatar-initial rounded bg-label-warning">
                            <i class="bx bx-user-voice bx-lg"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Users List Table -->
<div class="card">
  <div class="card-header border-bottom">
    <h5 class="card-title mb-0">Search Filters</h5>
    <div class="d-flex justify-content-between align-items-center row pt-4 gap-4 gap-md-0 g-6">
      <div class="col-md-4 user_role"></div>
      <div class="col-md-4 user_plan"></div>
      <div class="col-md-4 user_status"></div>
    </div>
  </div>
  <div class="card-datatable table-responsive">
    <table class="datatables-users table border-top">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>User</th>
          @* <th>Town</th> *@
                    <th>Business</th>
          <th>Town</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
    </table>
  </div>
  <!-- Offcanvas to add new user -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddUser" aria-labelledby="offcanvasAddUserLabel">
    <div class="offcanvas-header border-bottom">
      <h5 id="offcanvasAddUserLabel" class="offcanvas-title">Add Branch</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body mx-0 flex-grow-0 p-6 h-100">
      <form class="add-new-user pt-0" id="addNewBranchForm" onsubmit="return false">

                <div class="mb-6">
                    <label class="form-label" for="SelectedBusinessId"> Business </label>
                    <select asp-items="@ViewBag.BusinessesList" name="SelectedBusinessId" class="form-control">
                        <option value="">-- Select Business --</option>
                    </select>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-6">
                    <label class="form-label" for="Name">Name</label>
                    <input asp-for="Name" type="text" class="form-control" id="Name" placeholder="Enter Branch Name" name="Name" aria-label="Enter Branch Name" required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-6">
                    <label class="form-label" for="Town">Town</label>
                    <input asp-for="Town" type="text" class="form-control" id="Town" placeholder="Enter Town" name="Town" aria-label="Enter Town" required>
                </div>
                <hr />
                <div class="mb-6">
                    <label class="form-label" for="PhysicalLocationName">Physical Location Name</label>
                    <input asp-for="PhysicalLocationName" type="text" class="form-control" id="PhysicalLocationName" placeholder="Enter Physical Location Name" name="PhysicalLocationName" aria-label="Enter Physical Location Name" required>
                </div>
                <div class="mb-6">
                    <label class="form-label" for="GeoLocation">Geo Location</label>
                    <input asp-for="GeoLocation" type="text" class="form-control" id="GeoLocation" placeholder="Enter Geo Location" name="GeoLocation" aria-label="Enter Geo Location" required>
                </div>
        <button type="submit" class="btn btn-primary me-3 data-submit">Submit</button>
        <button type="reset" class="btn btn-label-danger" data-bs-dismiss="offcanvas">Cancel</button>
      </form>
    </div>
  </div>
</div>
